In [ ]:
#1.
Question 1:A retail store wants to identify customers who make frequent purchases. Given the dataset below, write a Python program to:
Group customers by their IDs.


Calculate the total purchase amount per customer.


Identify the top 3 customers with the highest purchase amounts.


Dataset:
data = {'Customer_ID': [101, 102, 103, 101, 104, 102, 101, 105, 102, 103],
        'Purchase_Amount': [200, 150, 180, 220, 300, 200, 100, 400, 250, 300]}

Expected Output:
Total Purchases per Customer:
   Customer_ID  Purchase_Amount
0          101              520
1          102              600
2          103              480
3          104              300
4          105              400

Top 3 Frequent Customers:
   Customer_ID  Purchase_Amount
1          102              600
0          101              520
2          103              480

In [57]:
import pandas as pd
data = {'Customer_ID': [101, 102, 103, 101, 104, 102, 101, 105, 102, 103],
        'Purchase_Amount': [200, 150, 180, 220, 300, 200, 100, 400, 250, 300]}
df = pd.DataFrame(data)
grouped= df.groupby('Customer_ID',as_index=False)['Purchase_Amount'].sum()


# Sort by 'amount' in descending order and get the top 3
top_3 = grouped.sort_values(by='Purchase_Amount', ascending=False).head(3)

print("Total Purchases per Customer:")
print(grouped)
print ("Top 3 frequent Customers:")
print(top_3)

Total Purchases per Customer:
   Customer_ID  Purchase_Amount
0          101              520
1          102              600
2          103              480
3          104              300
4          105              400
Top 3 frequent Customers:
   Customer_ID  Purchase_Amount
1          102              600
0          101              520
2          103              480

In [ ]:
#2. Predicting House Prices with Linear Regression
A real estate company wants to predict house prices based on square footage. Write a Python program to:
Train a Linear Regression model.


Predict house prices for given test data.


Dataset:
data = {'Square_Feet': [1500, 2000, 2500, 3000, 3500],
        'Price': [300000, 400000, 500000, 600000, 700000]}

Test Data: [[1800], [2800]]
Expected Output:
Predicted Prices:
[360000. 560000.]

In [59]:
import pandas as pd
from sklearn.linear_model import LinearRegression
data = {'Square_Feet': [1500, 2000, 2500, 3000, 3500],
        'Price': [300000, 400000, 500000, 600000, 700000]}
df=pd.DataFrame(data)
X=df[['Square_Feet']]
Y=df[['Price']]


model = LinearRegression()
model.fit(X, Y)

result=model.predict( [[1800], [2800]])
print("Predicted Prices:")
print(result)

Predicted Prices:
[[360000.]
 [560000.]]

C:\Users\Inst_\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [ ]:
#3:
Identifying Frequent Labels in a Dataset
A company wants to identify the top 3 most common categories in a dataset. Given the dataset below, write a Python program to:
Group the data by Category.


Count the total occurrences of each category.


Identify the top 3 most frequent categories.


Dataset:
data = {'Category': ['A', 'B', 'C', 'A', 'D', 'B', 'A', 'E', 'B', 'C', 'C', 'A'],
        'Value': [10, 15, 20, 30, 25, 18, 22, 40, 35, 50, 45, 15]}

Expected Output:

Total Occurrences per Category:
  Category  Count
0        A      4
1        B      3
2        C      3
3        D      1
4        E      1

Top 3 Frequent Categories:
  Category  Count
0        A      4
1        B      3
2        C      3

In [51]:
import pandas as pd
data = {'Category': ['A', 'B', 'C', 'A', 'D', 'B', 'A', 'E', 'B', 'C', 'C', 'A'],
        'Value': [10, 15, 20, 30, 25, 18, 22, 40, 35, 50, 45, 15]}
df=pd.DataFrame(data)
category_count=df["Category"].value_counts().reset_index()
print("Total Occurences per Category:")
print(category_count)
# Sort by 'Category count' in descending order and get the top 3
Top_3_Category = category_count.sort_values(by='count', ascending=False).head(3)
print("Top 3 Frequent Categories:")
print(Top_3_Category)

Total Occurences per Category:
  Category  count
0        A      4
1        B      3
2        C      3
3        D      1
4        E      1
Top 3 Frequent Categories:
  Category  count
0        A      4
1        B      3
2        C      3

In [ ]:
#4.
Predicting Missing Values Using Mean Imputation
A dataset contains missing values in the Age column. Write a Python program to:
Replace missing values with the mean of the column.


Display the updated DataFrame.


Dataset:
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, None, 35, None]}

Expected Output:

Original Data:
     Name   Age
0  Alice  25.0
1    Bob  30.0
2 Charlie   NaN
3  David  35.0
4    Eve   NaN

Data after Imputation:
     Name   Age
0  Alice  25.0
1    Bob  30.0
2 Charlie  30.0
3  David  35.0
4    Eve  30.0

In [71]:
import pandas as pd
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
        'Age': [25, 30, None, 35, None]}
df=pd.DataFrame(data)
print("Original Data:")
print(df)
# replacing NaN values with mean value
df=df.fillna(df["Age"].mean())
print("Data after Imputation:")
print(df)

Original Data:
      Name   Age
0    Alice  25.0
1      Bob  30.0
2  Charlie   NaN
3    David  35.0
4      Eve   NaN
Data after Imputation:
      Name   Age
0    Alice  25.0
1      Bob  30.0
2  Charlie  30.0
3    David  35.0
4      Eve  30.0

In [ ]:
# 5: 
Implementing a Simple Linear Regression Model
You are given a dataset with Experience (years) and Salary ($). Write a Python program to:
Train a Linear Regression model.


Predict the salary for an individual with 6 years of experience.


Dataset:
import pandas as pd

data = {'Experience': [1, 2, 3, 4, 5], 
        'Salary': [30000, 35000, 40000, 45000, 50000]}
df = pd.DataFrame(data)

Expected Output (Example):

Predicted Salary for 6 years of experience: $55000

In [40]:
import pandas as pd
from sklearn.linear_model import LinearRegression
data = {'Experience': [1, 2, 3, 4, 5], 
        'Salary': [30000, 35000, 40000, 45000, 50000]}
df = pd.DataFrame(data)
X=df[['Experience']]
Y=df[["Salary"]]
model = LinearRegression()
model.fit(X,Y)
result=model.predict([[6]])
print(f"Predicted Salary for 6 years of experience:${int(result)}") 
# change the type to int to print the expected result

Predicted Salary for 6 years of experience:$55000

C:\Users\Inst_\anaconda3\Lib\site-packages\sklearn\base.py:493: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(
C:\Users\Inst_\AppData\Local\Temp\ipykernel_22032\2017240011.py:11: DeprecationWarning: Conversion of an array with ndim > 0 to a scalar is deprecated, and will error in future. Ensure you extract a single element from your array before performing this operation. (Deprecated NumPy 1.25.)
  print(f"Predicted Salary for 6 years of experience:${int(result)}")